<footer style="margin-top: auto;">
  <div style="background-color: #391B9B;">
    <div class="row">
      <div class="mt-3 mb-3 mx-auto text-warning">
        <h5>@ChillOut_In_NightView</h5>
      </div>
    </div>
  </div>
</footer>